body, p, h1 {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	text-align: center;
	margin-top: 5%;
}

#header {
	height: 10vh;
}

#place {
  height: 85vh;
}

.box {
  border: 1px solid #000;
  width: 40%;
  padding: 3%;
  margin: 0 auto;
}

#exercise span {
  font-weight: bold;
	font-size: 1.5em;
}

#testExs {
	display: inline-block;
}

input[type=number] {
	margin: 0 3%;
	width: 60%;
	height: 40px;
	display: inline-block;
  text-align: center;
}

.wrong:focus {
  border: 1px solid #ff0000;
  outline-color: #ff0000;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}
